
/******                                       CARDS &  ANIMACIONES DE LOS SLIDERS*/

.card-item__cover{ /*Le ponemos display flex porque si no, cuando pongamos el cursor en la imagen y se active la animacion, el texto de abajo da un saltito. Con el flex queda fija la caja.*/
    display: flex;
    position: relative;
}

/*** ACA LO QUE HACEMOS ES, CUANDO SE POSICIONA EL CURSOR, ACTIVA EL HOVER, Y LE INDICAMOS QUE CUANDO LA IMAGEN QUE TIENE COMO MODIFICADOR "BACK" APAREZCA (BLOCK) Y DESAPAREZCA LA DE ADELANTE, (FRONT) POR ESO EL NONE.  ABAJO CREAMOS EL KEYFRAME FADE, PARA GENERAR ESE EFECTO. EN EL COVER DE ABAJO .card-item__cover img   LLAMAMOS SOLO AL IMG PARA APLICAR EN UNO SOLO, A LAS DOS IMG(FRONT Y BACK)***/

.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute; 
    right: 0; /*Recordemos que si le damos right para que vaya a la puntita superior derecha y el contenedor padre no está con posicion relative (no es relativo) va depender entonces del body. Por eso a cover le ponemos position relative a .card-item__cover (contenedor padre)*/
}

.card-item__cover img{
    animation: fade 1.7s;
}

.card-item__img--back{
    display: none;
}

.card-item__cover:hover .card-item__img--back{
    display: block;
}

.card-item__cover:hover .card-item__img--front{
    display: none;
}

.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence{
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name{
    font-size: var(--font-xsmall);;
    font-weight: 700;
}
.card-item__price{
    font-size: var(--font-xsmall);;
}
.card-item__promo{
    font-size: var(--font-xsmall);;
    color: var(--secondary-solid);
    font-weight: 700;
}


/**     ANIMATION DE DESVANESCIMIENTO PARA  card-item__cover img  (utilizo este para no llamar a las dos por separado (front y back)         **/


@keyframes fade {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}