

/**                               ITEMS                             */



.collection__licence{
    font-size: 14px;
    font-weight: 500;

}

.collection__price{
    font-size: 38px;
    font-weight: 300;
}


.collection__text-item{
    font-size:24px;
    font-weight: 300;
    padding-bottom: 20px;
}
