
.container__principal{
    display: flex;
    justify-content: baseline;
}

form{
    margin-top: 50px;
}

.form__min{
    display: flex;
    gap: 10px;
}


.form__max{
    display: flex;
    gap: 10px;
}



.slider__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.slider__item{
width: 290px;
height: auto;
}